body {
  font-family: Roboto;
  font-style: normal;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.header {
  align-items: center;
  justify-content: center;
  height: 70px;
  position: relative;
}

.header__logo {
  height: 34px;
  position: absolute;
  left: 15%;
}

.header__nav-link {
  margin: 24px 10px 27px 10px;
}

.header__button-wrapper {
  position: absolute;
  right: 7%;
}

.header__button1 {
  height: 45px;
  width: 110px;
  color: white;
  border-radius: 30px;
  border: none;
  background-color: #e37ab0;
  font-size: 14px;
  margin-right: 20px;
}

.header__button2 {
  height: 45px;
  width: 110px;
  color: white;
  border-radius: 30px;
  border: none;
  background-color: #6f99e3;
  font-size: 14px;
}

@media (max-width: 769px) {
  .header__logo {
    left: 20px;
  }
  .header__nav, .header__button-wrapper {
    display: none;
  }
}

.firstview {
  padding: 70px 15%;
  height: 522px;
  align-items: center;
  justify-content: space-between;
  background: url(./images/fv__bg-pc.svg) no-repeat top/100%;
}

.firstview__wrapper {
  width: 50%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.firstview__heading {
  font-size: 46px;
  margin-bottom: 25px;
}

.firstview__desc {
  font-size: 16px;
  margin-bottom: 25px;
}

.firstview__button {
  height: 45px;
  width: 350px;
  color: white;
  border-radius: 30px;
  border: none;
  background-color: #e37ab0;
  font-size: 14px;
}

.firstview__img {
  width: 60%;
  margin-left: 30%;
}

@media (max-width: 769px) {
  .firstview {
    flex-wrap: nowrap;
    height: auto;
    width: 100%;
    padding: 39px 19px;
  }
  .firstview__wrapper {
    width: 100%;
    align-items: center;
  }
  .firstview__heading {
    order: 1;
    font-size: 32px;
    line-height: 37px;
  }
  .firstview__desc {
    order: 2;
  }
  .firstview__button {
    order: 4;
    width: 100%;
  }
  .firstview__img {
    order: 3;
    margin: 25px;
  }
}

.secondview {
  padding: 70px 0;
  background-color: #FFF7FB;
  align-items: center;
}

.secondview__img {
  margin-left: -3.2%;
  width: 45%;
}

.secondview__desc {
  width: 45%;
  font-size: 38px;
  margin-left: 8.2%;
}

@media (max-width: 769px) {
  .secondview {
    flex-direction: column;
  }
  .secondview__img {
    order: 2;
    width: 90%;
  }
  .secondview__desc {
    order: 1;
    width: 90%;
    font-size: 16px;
    margin: 0 0 25px;
  }
}

.troubles {
  padding: 70px 0;
  align-items: center;
  justify-content: center;
}

.troubles__title {
  font-size: 38px;
  margin-bottom: 40px;
}

.troubles__contents-wrapper {
  width: 80%;
  justify-content: space-between;
}

.troubles__content {
  align-items: center;
  text-align: center;
  width: 30%;
}

.troubles__content-img {
  width: 100%;
  margin-bottom: 10px;
}

.troubles__content-text {
  font-size: 22px;
  font-weight: bold;
  width: 70%;
}

@media (max-width: 769px) {
  .troubles__title {
    font-size: 26px;
  }
  .troubles__contents-wrapper {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .troubles__content {
    width: 90%;
    text-align: start;
    justify-content: space-between;
  }
  .troubles__content:nth-of-type(1) {
    flex-direction: row;
  }
  .troubles__content:nth-of-type(2) {
    flex-direction: row-reverse;
  }
  .troubles__content:nth-of-type(3) {
    flex-direction: row;
  }
  .troubles__content-img {
    width: 35%;
  }
  .troubles__content-text {
    width: 55%;
    font-size: 16px;
  }
}

.solutions {
  background-color: #FFF7FB;
  align-items: center;
  padding: 70px 0;
}

.solutions__title {
  font-size: 38px;
  margin-bottom: 40px;
}

.solutions__contents-wrapper {
  width: 80%;
  justify-content: space-between;
}

.solutions__content {
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.solutions__content:nth-of-type(1) {
  flex-direction: row;
}

.solutions__content:nth-of-type(2) {
  flex-direction: row-reverse;
}

.solutions__content:nth-of-type(3) {
  flex-direction: row;
}

.solutions__content-textarea {
  width: 45%;
}

.solutions__content-heading {
  align-items: center;
  margin-bottom: 25px;
}

.solutions__content-num {
  font-weight: bold;
  font-size: 40px;
  color: #e37ab0;
}

.solutions__content-title {
  font-weight: bold;
  font-size: 32px;
  margin-left: 13px;
  line-height: 37px;
}

.solutions__content-desc {
  font-size: 16px;
  line-height: 19px;
}

.solutions__content-img {
  width: 40%;
}

@media (max-width: 769px) {
  .solutions__title {
    font-size: 26px;
  }
  .solutions__contents-wrapper {
    width: 100%;
    align-items: center;
  }
  .solutions__content {
    flex-direction: column !important;
    width: 90%;
  }
  .solutions__content-textarea {
    width: 100%;
    margin-bottom: 25px;
  }
  .solutions__content-heading {
    flex-direction: column;
    align-items: flex-start;
  }
  .solutions__content-num {
    font-size: 26px;
    line-height: 30px;
  }
  .solutions__content-title {
    margin: 0;
    font-size: 22px;
    line-height: 26px;
  }
  .solutions__content-img {
    width: 100%;
  }
}

.functions {
  padding: 70px 0;
  align-items: center;
}

.functions__title {
  font-weight: bold;
  font-size: 38px;
  line-height: 45px;
}

.functions__list {
  align-items: center;
  justify-content: center;
  width: 10vw;
  border: solid 1px #e37ab0;
  border-radius: 15px;
  box-shadow: 0px 0px 6px #e37ab0;
  padding: 10px;
  margin: 40px 10px 0;
}

.functions__list-img {
  margin-bottom: 10px;
  width: 75%;
}

.functions__list-text {
  font-size: 16px;
  line-height: 19px;
}

@media (max-width: 769px) {
  .functions__title {
    font-size: 26px;
    line-height: 30px;
  }
  .functions__lists {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
  }
  .functions__list {
    width: 42%;
    margin: 7px;
  }
}

.invitation {
  background-color: #e37ab0;
  align-items: center;
  padding: 70px 0;
  justify-content: center;
  text-align: center;
}

.invitation__text {
  color: white;
  font-weight: bold;
  font-size: 32px;
  height: 38px;
  line-height: 37px;
  margin-bottom: 40px;
  width: 90%;
}

.invitation__buttonarea {
  justify-content: center;
}

.invitation__button1 {
  height: 45px;
  width: 350px;
  color: white;
  border-radius: 30px;
  border: none;
  background-color: #6f99e3;
  font-size: 14px;
}

.invitation__button2 {
  height: 45px;
  width: 350px;
  color: #e37ab0;
  border-radius: 30px;
  border: none;
  background-color: white;
  font-size: 14px;
  margin-left: 25px;
}

@media (max-width: 769px) {
  .invitation__text {
    font-size: 16px;
    line-height: 19px;
  }
  .invitation__buttonarea {
    flex-direction: column;
    width: 90%;
  }
  .invitation__button1 {
    width: 100%;
  }
  .invitation__button2 {
    margin: 25px 0 0;
    width: 100%;
  }
}

.introducecompanys {
  align-items: center;
  padding: 70px 0;
}

.introducecompanys__title {
  font-weight: bold;
  font-size: 38px;
  margin-bottom: 36px;
}

.introducecompanys__card-wrapper {
  width: 100%;
  justify-content: space-between;
}

.introducecompanys__card {
  position: relative;
  box-shadow: 0px 0px 6px #DDDDDD;
  border-radius: 15px;
  width: 18%;
}

.introducecompanys__card-img {
  height: 173px;
  width: 100%;
  border-radius: 15px;
  object-fit: cover;
}

.introducecompanys__card-tag {
  position: absolute;
  border: 1px solid #e37ab0;
  background-color: white;
  width: 48px;
  height: 22px;
  text-align: center;
  line-height: 22px;
  top: 163px;
  left: 15px;
}

.introducecompanys__card-textarea {
  margin: 30px 16px;
}

.introducecompanys__card-name {
  font-size: 14px;
  margin-bottom: 15px;
}

.introducecompanys__card-text {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
}

@media (max-width: 769px) {
  .introducecompanys {
    overflow: hidden;
    text-align: center;
  }
  .introducecompanys__card-wrapper {
    justify-content: flex-start;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }
  .introducecompanys__card-wrapper:-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .introducecompanys__card-wrapper:-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
  }
  .introducecompanys__card-wrapper:-webkit-scrollbar-track {
    background: transparent;
  }
  .introducecompanys__card {
    scroll-snap-align: center;
    flex-shrink: 0;
    width: 300px;
    margin: 0 80px;
    border-radius: 10px;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
  }
}

.fee {
  align-items: center;
  padding: 70px 0;
}

.fee__title {
  font-weight: bold;
  font-size: 38px;
  margin-bottom: 40px;
}

.fee__card-wrapper {
  align-items: center;
  height: 100%;
  width: 75%;
}

.fee__card {
  align-items: center;
  box-shadow: 0px 0px 6px #DEDEDE;
  border-radius: 15px;
  width: 33%;
}

.fee__card-bluetitle {
  width: 100%;
  background-color: #6f99e3;
  text-align: center;
  border-radius: 15px 15px 0px 0px;
  color: white;
  padding: 10px;
}

.fee__card-pinktitle {
  width: 100%;
  background-color: #e37ab0;
  text-align: center;
  border-radius: 15px 15px 0px 0px;
  color: white;
  padding: 10px;
}

.fee__card-planname {
  height: 19px;
  line-height: 19px;
  font-size: 16px;
}

.fee__card-planfee {
  height: 45px;
  line-height: 45px;
  font-weight: bold;
  font-size: 38px;
}

.fee__card-planfee span {
  font-size: 20px;
}

.fee__card-textarea {
  width: 100%;
  align-items: center;
  padding: 25px;
}

.fee__card-desc {
  width: 100%;
  padding: 5px auto;
  text-align: center;
  font-size: 16px;
  border-bottom: 1px solid #DEDEDE;
}

.fee__card-button {
  height: 45px;
  width: 90%;
  color: black;
  border-radius: 30px;
  border: none;
  background-color: #E8E8E8;
  font-size: 14px;
  margin-bottom: 25px;
}

@media (max-width: 769px) {
  .fee__title {
    font-size: 26px;
    line-height: 30px;
  }
  .fee__card-wrapper {
    flex-direction: column;
    width: 90%;
  }
  .fee__card {
    width: 100%;
    margin-bottom: 40px;
  }
}

.questions {
  align-items: center;
  padding: 70px 0;
}

.questions-title {
  font-weight: bold;
  font-size: 38px;
  height: 45px;
  line-height: 45px;
  margin-bottom: 40px;
}

.questions-wrapper {
  align-items: center;
}

.questions__question {
  align-items: center;
  width: 70%;
}

.questions__question-title {
  height: 64.97px;
  width: 100%;
  align-items: center;
  border: 1px solid #E37AB0;
  box-sizing: border-box;
  border-radius: 15px;
  color: #e37ab0;
  font-weight: bold;
  font-size: 16px;
}

.questions__question-title span {
  font-size: 22px;
  margin: 0 14px 0 20px;
}

.questions__question-answer {
  padding: 22.03px 0;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 33px;
}

.questions__question-answer span {
  font-size: 22px;
  margin: 0 14px 0 20px;
  color: #6f99e3;
}

.questions__question-answer p {
  margin-right: 20px;
}

@media (max-width: 769px) {
  .questions__title {
    height: 30px;
    font-size: 26px;
    line-height: 30px;
  }
  .questions__question {
    width: 90%;
  }
}

.footer {
  align-items: center;
  background-color: #FFF7FB;
}

.footer-main {
  padding: 70px 20% 20px;
  align-items: flex-start;
  width: 100%;
  height: 247px;
}

.footer__logo {
  height: 37px;
}

.footer__lists {
  height: 100%;
  width: 40%;
  flex-wrap: wrap;
  margin-left: 18%;
}

.footer__list {
  margin-bottom: 20px;
  width: 100%;
  font-size: 16px;
  line-height: 19px;
  height: 19px;
}

.footer__copyright {
  height: 55px;
  font-size: 14px;
  line-height: 55px;
}

@media (max-width: 769px) {
  .footer-main {
    padding: 70px 10%;
    flex-direction: column;
    height: auto;
  }
  .footer__lists {
    flex-wrap: nowrap;
    margin: 20px 0 0;
    width: 100%;
  }
}
